# WSPR-ease CPLD Pin Constraints
# Device: LCMXO2-256HC-4SG32C (32-pin QFN/TQFP)

LOCATE COMP "rf_clk_pin" SITE "21";     # PCLKT1_0 (modulated clock from Si5351 CLK0)
LOCATE COMP "pwm_clk_pin" SITE "4";      # PCLKT3_0 (PWM rate clock from Si5351 CLK2)
LOCATE COMP "pwm_out" SITE "5";          # PCLKC3_0 (PWM output driving RC filter)
LOCATE COMP "nPullPeak" SITE "11";       # PCLKT2_0 (active-low gate output)
LOCATE COMP "nPullBase" SITE "12";       # PCLKC2_0 (active-low gate output)
LOCATE COMP "nPushPeak" SITE "13";       # PCLKT2_1 (active-low gate output)
LOCATE COMP "nPushBase" SITE "14";       # PCLKC2_1 (active-low gate output)
LOCATE COMP "fpgaNCS" SITE "8";          # SPI CS
LOCATE COMP "fpgaMOSI" SITE "17";        # SPI MOSI
LOCATE COMP "fpgaMISO" SITE "10";        # SPI MISO
LOCATE COMP "fpgaSCLKpin" SITE "9";      # SPI SCK (Clock)

IOBUF PORT "rf_clk_pin" IO_TYPE=LVCMOS33PULLMODE=NONE;
IOBUF PORT "pwm_clk_pin" IO_TYPE=LVCMOS33PULLMODE=NONE;
IOBUF PORT "pwm_out" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8;
IOBUF PORT "nPullPeak" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8;
IOBUF PORT "nPullBase" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8;
IOBUF PORT "nPushPeak" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8;
IOBUF PORT "nPushBase" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8;
IOBUF PORT "fpgaNCS" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "fpgaMOSI" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "fpgaMISO" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8;
IOBUF PORT "fpgaSCLKpin" IO_TYPE=LVCMOS33 PULLMODE=NONE;
