(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: Some(false),
    show_scope_tooltip: Some(true),
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: Some(true),
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: Some(Separate),
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/home/alan/ham/WSPR-ease/FPGA/waveform.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "Top",
                "exciter",
                "nco",
                "NCOAccum2",
            ],
            id: Wellen((16)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullBaseR",
                    id: Wellen((71)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullBaseR",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakF",
                    id: Wellen((85)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushPeakF",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullBaseF",
                    id: Wellen((70)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullBaseF",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakR",
                    id: Wellen((86)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushPeakR",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushBaseR",
                    id: Wellen((81)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushBaseR",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullPeakF",
                    id: Wellen((75)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullPeakF",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakRegR",
                    id: Wellen((89)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pushPeakRegR",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushBaseF",
                    id: Wellen((80)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushBaseF",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakRegF",
                    id: Wellen((87)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pushPeakRegF",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullPeakR",
                    id: Wellen((76)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullPeakR",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "rfPushPeak",
                    id: Wellen((93)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "rfPushPeak",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakRegF2",
                    id: Wellen((88)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pushPeakRegF2",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 69,
        viewports: [
            (
                curr_left: (0.13035795478668474),
                curr_right: (0.1304833195246141),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            130373547,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Local,
        scroll_offset: 0.09375,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (22),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: NanoSeconds,
    time_string_format: Some(Locale),
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: Some(Default),
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    show_annotation_list: false,
)