(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: Some(true),
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: Some(true),
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: Some(Tree),
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/home/alan/ham/WSPR-ease/FPGA/waveform.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "Top",
                "exciter",
            ],
            id: Wellen((5)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullPeakR",
                    id: Wellen((80)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullPeakR",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakF",
                    id: Wellen((89)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushPeakF",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullBaseF",
                    id: Wellen((74)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullBaseF",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "rfPullPeak",
                    id: Wellen((95)),
                    index: None,
                ),
                color: Some("Green"),
                background_color: None,
                display_name: "rfPullPeak",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                            "mPushPeak",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "D_OUT_1",
                    id: Wellen((208)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "D_OUT_1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullBaseR",
                    id: Wellen((75)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullBaseR",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushBaseF",
                    id: Wellen((84)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushBaseF",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "rfPullBase",
                    id: Wellen((94)),
                    index: None,
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "rfPullBase",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushBaseR",
                    id: Wellen((85)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushBaseR",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakRegF2",
                    id: Wellen((92)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pushPeakRegF2",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakR",
                    id: Wellen((90)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pushPeakR",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "rfPushPeak",
                    id: Wellen((97)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "rfPushPeak",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakRegR",
                    id: Wellen((93)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pushPeakRegR",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pullPeakF",
                    id: Wellen((79)),
                    index: None,
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "pullPeakF",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "pushPeakRegF",
                    id: Wellen((91)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pushPeakRegF",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "rfPushBase",
                    id: Wellen((96)),
                    index: None,
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "rfPushBase",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "Top",
                            "exciter",
                            "mPushPeak",
                        ],
                        id: Wellen((10)),
                    ),
                    name: "D_OUT_0",
                    id: Wellen((207)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "D_OUT_0",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 23,
        viewports: [
            (
                curr_left: (0.5618260165656892),
                curr_right: (0.5623274755174067),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            367907264,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [
            (
                name: "Ungrouped",
                cycle_counter: 0,
                annotations: [],
            ),
        ],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: NanoSeconds,
    time_string_format: Some(Locale),
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(232.625),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: Some(Default),
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    show_annotation_list: false,
)